<a href="https://colab.research.google.com/github/YisakJeong/-algorithm_team5/blob/main/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C1%EB%B2%88_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from datetime import datetime
data = {
    "고객명": ["김철수", "이영희", "박민수", "최지우", "정해인"],
    "거래일자": ["2025-04-01", "2025-04-02", "2025-04-03", "2025-04-04", "2025-04-05"],
    "거래금액": [100000, 250000, 175000, 300000, 50000]
}
# 데이터프레임 생성
df = pd.DataFrame(data)

 #고객의 거래 이력을 날짜순, 금액순으로 정렬하여 분석 보고
def read_transaction_csv(file_path):
  df=pd.read_csv(file_path)



def summarize_transactions(transactions):
  grouped=transactions.groupby('고객명')['거래금액'].sum()
  customer_totals=grouped.to_dict() # 고객명 거래금액
  return customer_totals


def sort_by_total(customer_totals):
  sorted_customers = sorted(customer_totals.items(), key=lambda x: x[1], reverse=True) #거래 금액으로 정렬
  return sorted_customers

def sort_by_data(transcations):
  datatime.strptime(data_str,'%Y-%m-%d')
  sorted_transactions=transactions.sort_values(by='거래일자')
  return sorted_transactions

def print_report(sorted_customers):
  for idx,(customer,total) in enumerate(sorted_customers,1):  # 거래 금액 으로 출력
    print(f"{idx}.{customer}:{total}원")

  for _, row in df_sorted.iterrows():
    print(f"{row['날짜']} {row['고객명']}: {row['거래금액']}원")     # 날짜 순으로 출력

In [9]:
result=summarize_transactions(df)
sort_by_total(result)

[('최지우', 300000),
 ('이영희', 250000),
 ('박민수', 175000),
 ('김철수', 100000),
 ('정해인', 50000)]